In [1]:
# pip install mysql-connector-python

In [2]:
import mysql.connector
from mysql.connector import Error

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

# MySQL terminal password
pw = "Sahul@7543"

# Connect to MySQL server
connection = create_server_connection("localhost", "root", pw)

# Check if the connection is established
if connection is not None:
    print("Connection established.")
else:
    print("Connection failed.")

MySQL Database connection successful
Connection established.

In [3]:
# create database mysql_python
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database create Successfuly")
    except Error as err:
        print(f"Error: '{err}'")
create_database_query = "create database mysql_python"
create_database(connection, create_database_query)

Error: '1007 (HY000): Can't create database 'mysql_python'; database exists'

In [4]:
# connect to database name
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database =db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [5]:
# Execute SQL Query

def execute_query(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error: '{err}'")

In [6]:
create_orders_table = """
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_name VARCHAR(30) NOT NULL,
    product_name VARCHAR(20) NOT NULL,
    date_order DATE,
    quantity INT,
    unit_price DECIMAL(10, 2),
    phone_number VARCHAR(20)
);
"""

In [7]:
# Connect to the database 
pw = "Sahul@7543"
db = "mysql_python"
try:
    connection = create_db_connection("localhost", "root", pw, db)
    execute_query(connection, create_orders_table)
    print("Orders table created successfully.")
except mysql.connector.Error as err:
    print(f"Error: '{err}'")
finally:
    if connection.is_connected():
        connection.close()

MySQL Database connection successful
Error: '1050 (42S01): Table 'orders' already exists'
Orders table created successfully.

drop_database_query = "DROP DATABASE mysql_python;"

# Connect to the MySQL server
connection = create_server_connection("localhost", "root", pw)

# Execute the DROP DATABASE query
if connection:
    execute_query(connection, drop_database_query)
    connection.close()

In [8]:
data_orders = """
INSERT INTO orders VALUES
(101, 'Steve', 'Laptop', '2018-06-12', 2, 800, '6293730882'),
(102, 'Jos', 'Books', '2019-02-10', 10, 12, '8367489124'),
(103, 'Stacy', 'Trousers', '2019-12-25', 5, 50, '8976123645'), 
(104, 'Nancy', 'T-Shirts', '2018-07-14', 7, 30, '7368145099'),
(105, 'Maria', 'Headphones', '2019-05-30', 6, 48, '8865316698'),
(106, 'Danny', 'Smart TV', '2018-08-20', 10, 300, '7720130449');
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, data_orders)

MySQL Database connection successful
Error: '1062 (23000): Duplicate entry '101' for key 'orders.PRIMARY''

In [9]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()  # Fetch all results from the executed query
        return result
    except mysql.connector.Error as err:
        print(f"Error: '{err}'")
    finally:
        cursor.close()  # Ensure the cursor is closed after use

In [10]:
# Using the select stmt
q1 = """
select * from orders;  """
connection = create_db_connection("localhost", "root", pw, db) 
results = read_query(connection, q1)
for result in results:
    print(result)

MySQL Database connection successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, Decimal('800.00'), '6293730882')
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, Decimal('12.00'), '8367489124')
(103, 'Stacy', 'Trousers', datetime.date(2019, 12, 25), 5, Decimal('45.00'), '8976123645')
(104, 'Nancy', 'T-Shirts', datetime.date(2018, 7, 14), 7, Decimal('30.00'), '7368145099')
(105, 'Maria', 'Headphones', datetime.date(2019, 5, 30), 6, Decimal('48.00'), '8865316698')
(106, 'Danny', 'Smart TV', datetime.date(2018, 8, 20), 10, Decimal('300.00'), '7720130449')

In [11]:
q2 = """
SELECT customer_name, phone_number FROM orders; 
"""
connection = create_db_connection("localhost", "root", pw, db) 
results = read_query(connection, q2)
for result in results:
    print(result)

MySQL Database connection successful
('Steve', '6293730882')
('Jos', '8367489124')
('Stacy', '8976123645')
('Nancy', '7368145099')
('Maria', '8865316698')
('Danny', '7720130449')

In [12]:
q3 = """
select year(date_order) from orders;
"""
connection = create_db_connection("localhost", "root", pw, db) 
results = read_query(connection, q3)
for result in results:
    print(result)

MySQL Database connection successful
(2018,)
(2019,)
(2019,)
(2018,)
(2019,)
(2018,)

In [13]:
q4 = """
select distinct year(date_order) from orders;
"""
connection = create_db_connection("localhost", "root", pw, db) 
results = read_query(connection, q4)
for result in results:
    print(result)

MySQL Database connection successful
(2018,)
(2019,)

In [14]:
q5 = """
select * from orders where date_order < '2018-12-31'
"""
connection = create_db_connection("localhost", "root", pw, db) 
results = read_query(connection, q5)
for result in results:
    print(result)

MySQL Database connection successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, Decimal('800.00'), '6293730882')
(104, 'Nancy', 'T-Shirts', datetime.date(2018, 7, 14), 7, Decimal('30.00'), '7368145099')
(106, 'Danny', 'Smart TV', datetime.date(2018, 8, 20), 10, Decimal('300.00'), '7720130449')

In [15]:
q6 = """
select * from orders where date_order > '2018-12-31'
"""
connection = create_db_connection("localhost", "root", pw, db) 
results = read_query(connection, q6)
for result in results:
    print(result)

MySQL Database connection successful
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, Decimal('12.00'), '8367489124')
(103, 'Stacy', 'Trousers', datetime.date(2019, 12, 25), 5, Decimal('45.00'), '8976123645')
(105, 'Maria', 'Headphones', datetime.date(2019, 5, 30), 6, Decimal('48.00'), '8865316698')

In [16]:
q7 = """
select * from orders order by unit_price
"""
connection = create_db_connection("localhost", "root", pw, db) 
results = read_query(connection, q7)
for result in results:
    print(result)

MySQL Database connection successful
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, Decimal('12.00'), '8367489124')
(104, 'Nancy', 'T-Shirts', datetime.date(2018, 7, 14), 7, Decimal('30.00'), '7368145099')
(103, 'Stacy', 'Trousers', datetime.date(2019, 12, 25), 5, Decimal('45.00'), '8976123645')
(105, 'Maria', 'Headphones', datetime.date(2019, 5, 30), 6, Decimal('48.00'), '8865316698')
(106, 'Danny', 'Smart TV', datetime.date(2018, 8, 20), 10, Decimal('300.00'), '7720130449')
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, Decimal('800.00'), '6293730882')

In [17]:
q8= """
select * from orders order by unit_price desc
"""
connection = create_db_connection("localhost", "root", pw, db) 
results = read_query(connection, q8)
for result in results:
    print(result)

MySQL Database connection successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, Decimal('800.00'), '6293730882')
(106, 'Danny', 'Smart TV', datetime.date(2018, 8, 20), 10, Decimal('300.00'), '7720130449')
(105, 'Maria', 'Headphones', datetime.date(2019, 5, 30), 6, Decimal('48.00'), '8865316698')
(103, 'Stacy', 'Trousers', datetime.date(2019, 12, 25), 5, Decimal('45.00'), '8976123645')
(104, 'Nancy', 'T-Shirts', datetime.date(2018, 7, 14), 7, Decimal('30.00'), '7368145099')
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, Decimal('12.00'), '8367489124')

In [18]:
import pandas as pd
from_db = []
for result in results:
    result = list(result)  # Convert each result tuple to a list
    from_db.append(result)  # Append the list to from_db
    
# Define the column names
columns = ["order_Id", "customer_name", "product_name", "date_ordered", "quantity", "unit_price", "phone_number"]

# Create a DataFrame from the list of results
df = pd.DataFrame(from_db, columns=columns)

# Display the DataFrame
print(df)  # Use print() or display() depending on your environment

   order_Id customer_name product_name date_ordered  quantity unit_price  \
0       101         Steve       Laptop   2018-06-12         2     800.00
1       106         Danny     Smart TV   2018-08-20        10     300.00
2       105         Maria   Headphones   2019-05-30         6      48.00
3       103         Stacy     Trousers   2019-12-25         5      45.00
4       104         Nancy     T-Shirts   2018-07-14         7      30.00
5       102           Jos        Books   2019-02-10        10      12.00

  phone_number
0   6293730882
1   7720130449
2   8865316698
3   8976123645
4   7368145099
5   8367489124

In [19]:
update_query = """
UPDATE orders
SET unit_price = 45
WHERE order_id = 103;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, update_query)

MySQL Database connection successful
Query was successful

In [20]:
q9= """
select * from orders where order_id = 103
"""
connection = create_db_connection("localhost", "root", pw, db) 
results = read_query(connection, q9)
for result in results:
    print(result)

MySQL Database connection successful
(103, 'Stacy', 'Trousers', datetime.date(2019, 12, 25), 5, Decimal('45.00'), '8976123645')

In [21]:
delete_order = """
delete from orders
WHERE order_id = 105;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, update_query)

MySQL Database connection successful
Query was successful

In [22]:
q10= """
select * from orders 
"""
connection = create_db_connection("localhost", "root", pw, db) 
results = read_query(connection, q10)
for result in results:
    print(result)

MySQL Database connection successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, Decimal('800.00'), '6293730882')
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, Decimal('12.00'), '8367489124')
(103, 'Stacy', 'Trousers', datetime.date(2019, 12, 25), 5, Decimal('45.00'), '8976123645')
(104, 'Nancy', 'T-Shirts', datetime.date(2018, 7, 14), 7, Decimal('30.00'), '7368145099')
(105, 'Maria', 'Headphones', datetime.date(2019, 5, 30), 6, Decimal('48.00'), '8865316698')
(106, 'Danny', 'Smart TV', datetime.date(2018, 8, 20), 10, Decimal('300.00'), '7720130449')